.checkout-container .title-span{
    font-size: 3em;
    font-weight: 900;
    color: #372580;
    text-align: center;
    margin-bottom: 2vh;
    margin-left: 5.6%;
    padding-top: 2vh;
}

#details-form {
    width: 93%s;
    margin-left: 3.5%;
    margin-right: 3.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#details-form div{
    width: 45%;
    margin: 3vh;
    background-color: white;
    border-radius: 5px;
    height: auto;
}

#details-form .details-holder, .additional-info-holder{
    display: flex;
    flex-direction: column;
}

#details-form input{
    font-size: 14px;
    padding: 15px;
    border: none;
    background-color: #f3edfd;
}

#details-form label{
    font-size: 14px;
    margin-top: 15px;
}