.checkout-container{
    margin-top: 6vh;
    width: 93%;
}

.checkout-container .title-span{
    font-size: 3em;
    font-weight: 900;
    color: #372580;
    text-align: center;
    margin-left: 8%;
}

/*TODO: FIX ALIGNEMT, PADDING*/
#details-form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, auto);
    column-gap: 1em;
    row-gap: 2em;
    width: 100%;
    margin: auto;
}

#details-form div{
    height: auto;
    background-color: white;
    border-radius: 10px;
}

#details-form .details-holder{
    grid-column: 1;
    grid-row: 1;
    padding: 1em;
}

#details-form .additional-info-holder{
    grid-column: 1;
    grid-row: 2 / span 2;
    padding-top: 1em;
}

#details-form .order-holder{
    grid-column: 2;
    grid-row: 1;
    height: auto;
}

#details-form .coupon-holder{
    grid-column: 2;
    grid-row: 2;
    height: 6vh;
    text-align: center;
    padding: 3vh 0;
}

#details-form .crypto-submit-holder{
    grid-column: 2;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#details-form .details-holder, .additional-info-holder, .order-holder, .coupon-holder, .crypto-submit-holder{
    width: 95%;
    border: 1px solid lightgray;
    padding: 1em;
}

#details-form .order-holder, .coupon-holder, .crypto-submit-holder{
    margin-right: 1px;
}

#submit-order-button{
    transition: 0.4s;
    background-color: #6b4cf8;
    color: white;
    font-size: calc(.55vw + .55em);
    font-weight: 400;
    border: none;
    border-radius: 10px;
    align-items: flex-start;
    height: 6vh;
    width: 90%;
    align-content: center;
}

#submit-order-button:hover{
    transition: 0.4s;
    background-color: white;
    border: 1px solid #2f00ff;
    color: #6b4cf8;
}

#details-form .details-holder, .additional-info-holder{
    display: flex;
    flex-direction: column;
}


#details-form .details-holder .name-holder{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#detail-form .name-holder{
    margin: 0;
}

#details-form input{
    font-size: 14px;
    padding: 15px;
    border: none;
    background-color: #f0edf5;
    border-radius: 10px;
}

#details-form input:focus{
    outline: none; /* Removes the default outline */
    border-color: #6200ea; /* Changes border color */
    box-shadow: 0 0 5px rgba(98, 0, 234, 0.5); /* Adds a subtle shadow */
    background-color: #f3e5f5; /* Light purple background */
    color: #4b0089; /* Text color */
}

#details-form label{
    font-size: 14px;
    margin-top: 15px;
}

#details-form  h1{
    padding-left: 0.5em;
}

#details-form .order-holder .order-grid {
    padding: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    color: gray;
}

#details-form .order-holder .order-grid div{
    display: grid;
    gap: 10px;
}

#details-form .order-holder .order-grit #i1, #i3, #i5, #i7, #i9{
    grid-column: 1;
}

#checkout-form .order-holder .order-grit #i2, #i4, #i6, #i8, #i10{
    grid-column: 2;
}

#checkout-form .order-holder .order-grid .item {
border-bottom: 1px solid #e0e0e0;
padding-bottom: 10px;
}

#checkout-form .order-holder .order-grid .label {
font-weight: bold;
}

#checkout-form .order-holder .order-grid .subtotal, .order-grid .total, .order-grid .shipping-price {
justify-self: end;
font-weight: bold;
}

#checkout-form .order-holder .shipping-details {
margin: 5px 0;
}

#checkout-form .order-holder .total {
font-size: 1.2em;
}

#checkout-form .order-holder .divider {
grid-column: span 2;
border-top: 1px solid #e0e0e0;
margin: 10px 0;
}

#checkout-form .order-holder .shipping-details span {
display: block;
font-size: 0.9em;
}

@media (max-width: 480px){
    #details-form{
        display: flex;
        flex-direction: column;
    }
}