.my-account-container {
    display: flex;
    flex-direction: column;
    width: 93%;
    align-content: space-around;
    margin-left: 3.5%;
    margin-top: 5vh;
}

.my-account-container .title-span{
    font-size: 50px;
    font-weight: 900;
    color: #372580;
    text-align: center;
    margin-bottom: 2vh;
}

.my-account-container .main-content{
    display: flex;
    justify-content: space-around;
}

/* Style the sidebar */
.my-account-container .sidebar {
    width: 200px;
    background-color: #e6e6fa;
    border-radius: 15px 0 0 15px;
    padding: 10px;
}

/* Sidebar links */
.my-account-container .sidebar ul {
    list-style-type: none;
    padding: 0;
}

.my-account-container .sidebar ul li {
    margin: 10px 0;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #5a5a5a;
    transition: 0.3s;
}

.my-account-container .sidebar .hovered {
    background-color: #7a49db;
    color: white;
    border-radius: 10px;
}


.my-account-container .content .sidebar ul li{
    
}
/* Content area */
.my-account-container .content {
    padding: 20px;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 0 15px 15px 0;
}

.my-account-container .content .content-section #orders-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
    height: 4vh;
    background-color: #cad8f1;;
    border-radius: 25px;
}

.my-account-container .content .content-section #payment-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.my-account-container .content .content-section .wrapper .dashboard-link {
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 0 15px 15px 0;
}

#account .wrapper form{
    display: flex;
    flex-direction: column;
}

#account .wrapper form input{
    padding: 15px;
}

#account .wrapper form label{
    margin-top: 15px;
}

#form-span{
    font-weight: 900;
    margin-top: 5vh;
    color: #372580;
}

#account .wrapper form button{
    background-color: #6b4cf8;
    margin-left: 1%;
    height: 5vh;
    color: white;
    font-size: calc(.55vw + .55em);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    align-items: flex-start;
    width: 15vw;
}

#address-h2 {
    font-style: italic;
    color: #69727d;
    font-size: 18px;
}

#payment-span {
    display: flex;
    align-items: center;  
    background-color: #cad8f1;;
    border-radius: 15px;
    padding: 0 4vw;
    height: 8vh;
    width: 100%;
}

#add-payment-button{
    background-color: none;
    border-color: rgb(0, 195, 255);
    padding: 5px;
}

  /* Optional: Responsive Design */
  @media (max-width: 768px) {

  }
  
  @media (max-width: 480px) {

  }
  