.my-account-container {
    display: flex;
    flex-direction: column;
    width: 93%;
    align-content: space-around;
    margin-top: 5vh;
}

.my-account-container .title-span{
    font-size: calc(1vw + 1em);
    font-weight: 900;
    color: #372580;
    text-align: center;
    margin-bottom: 2vh;
    margin-bottom: 5.6%;
    padding-top: 2vh;
}

.my-account-container .main-content{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

/* Style the sidebar */
.my-account-container .sidebar {
    width: 25%;
    background-color: #e6e6fa;
    border-radius: 15px 0 0 15px;
}

/* Sidebar links */
.my-account-container .sidebar ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.my-account-container .sidebar ul li {
    width: 100%;
    height: 5vh;
    padding-top: 2vh;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    color: #7152ad;
    transition: 0.4s;
}

.my-account-container .sidebar ul li:hover {
    transition: 0.3s;
    cursor: pointer;
    background-color: #d0c7ff;
}


.my-account-container .sidebar .hovered {
    transition: 0.4s;
    background-color: #7a49db;
    color: #573d8a;
    color: white;
}

.my-account-container .sidebar .hovered:hover {
    background-color: #7a49db;
}

.my-account-container .sidebar #dashboard{
    border-radius: 15px 0 0 0;
}

.dashboard-link{
    transition: 0.3s;
    text-decoration: none;
}

.dashboard-link:hover, #add-billing-address-link:hover{
    transition: 0.3s;
    color: #a18cff;
}

/* Content area */
.my-account-container .content {
    padding-left: 1em;
    padding-top: 0.25em;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 0 15px 15px 0;
}

#orders-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
    height:9vh;
    background-color: #cad8f1;;
    border-radius: 25px;
}

#orders-wrapper button{
    transition: 0.4s;
    background-color: none;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(101, 167, 189);
    color: rgb(49, 161, 198);
    font-size: 14px;
    font-weight: 500;
    height: 5vh;
    width: 14vw;
    cursor: pointer;
}

#orders-wrapper button:hover{
    transition: 0.4s;
    background-color: #53b1f5;
    border-color: #467cea;
    color: #0146d1;
}

.my-account-container .content .content-section #payment-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.my-account-container .content .content-section .wrapper .dashboard-link {
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 0 15px 15px 0;
}

#account .wrapper form{
    display: flex;
    flex-direction: column;
}

#account .wrapper form input{
    font-size: 14px;
    padding: 15px;
    border: none;
    background-color: #f3edfd;
    border-radius: 10px;
}
#account .wrapper form input:focus{
    outline: none; /* Removes the default outline */
    border-color: #6200ea; /* Changes border color */
    box-shadow: 0 0 5px rgba(98, 0, 234, 0.5); /* Adds a subtle shadow */
    background-color: #f3e5f5; /* Light purple background */
    color: #4b0089; /* Text color */
}
#account .wrapper form label{
    font-size: 14px;
    margin-top: 15px;
}

#account .wrapper form .name-holder{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.content #orders-wrapper{
    height: 6;
}

.first-name-holder{
    display: flex;
    width: 45%;
    flex-direction: column;
}

.last-name-holder{
    margin-left: 5%;
    display: flex;
    width: 50%;
    flex-direction: column;
}

#form-span-1{
    font-size: 14px;
    font-style: italic;
}

#form-span-2{
    font-weight: 900;
    margin-top: 5vh;
    color: #372580;
}

#account .wrapper form button{
    transition: 0.4s;
    background-color: #6b4cf8;
    margin-left: 1%;
    color: white;
    font-size: calc(.55vw + .55em);
    font-weight: 400;
    border: none;
    border-radius: 10px;
    align-items: flex-start;
    height: 5vh;
    width: 12vw;
}

#account .wrapper form button:hover{
    transition: 0.4s;
    background-color: #a18cff;
    color: #8003ce;
    border: 1.5px solid #6601a4;
    width: 12.5vw;
    
}

#add-billing-address-link{
    font-size: large;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

#address-h2 {
    font-style: italic;
    color: #69727d;
    font-size: 18px;
}

#payment-span {
    display: flex;
    align-items: center;  
    background-color: #cad8f1;;
    border-radius: 15px;
    padding-left: 4vw;
    height: 8vh;
    width: 90%;
}

#add-payment-button{    
    transition: 0.5s;
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(101, 124, 189);
    color: rgb(49, 108, 198);
    font-size: 14px;
    font-weight: bold;
    height: 6vh;
    width: 14vw;
    cursor: pointer;
}

#add-payment-button:hover{
    transition: 0.5s;
    background-color: #6d49fb91;
    border-color: rgba(67, 4, 150, 0.699);
    color: rgba(67, 4, 150, 0.699);
}

  /* Optional: Responsive Design */
@media (max-width: 768px) {

}
  
@media (max-width: 480px) {
    .my-account-container .main-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .my-account-container .main-content .sidebar{
        width: 90%;
        border-radius: 15px 15px 15px 15px;
    }

    .my-account-container .main-content .sidebar ul li{
        transition: 0.3s;
        height: 4vh;
    }

    .my-account-container .main-content .sidebar ul li:hover{
        transition: 0.3s;
        background-color: #a18cff;
    }

    .my-account-container .title-span{
        font-size: 2em;
    }

    .my-account-container .content{
        margin-top: 5vh;
    }
    .my-account-container .content .content-section .wrapper{
        display: flex;
        flex-direction: column;
    }
    .my-account-container .content .content-section #payment-wrapper {
        align-items: center;
    }

    .my-account-container .content .content-section #orders-wrapper {
        flex-direction: row;
    }

    .my-account-container .content .content-section #orders-wrapper button{
        width: 20vw;
    }

    .my-account-container .content .content-section #account-wrapper button{
        width: 30vw;
        font-size: 1em;
    }

    .my-account-container .content .content-section .wrapper p a{
        background-color: #cad8f1;
        border-radius: 10px;
        padding: 10px;
    }

    #add-payment-button{
        width: 30vw;
    }

    #dashboard .wrapper p a{
        padding: 0;
    }
}
  